[submodule "thirdparty/lexy"]
	path = thirdparty/lexy
	url = https://github.com/foonathan/lexy.git
[submodule "thirdparty/linenoise"]
	path = thirdparty/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "thirdparty/simplebinstream"]
	path = thirdparty/simplebinstream
	url = https://github.com/shaovoon/simplebinstream.git
